<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
   <p>
    Splurty was built by <a target="_blank" href="http://github.com/merceec">Carolyn Ducker</a>, A web developer on a mission to give people advice about following your dreams!</p>
  <br />
  <p>
    Carolyn learned how to code at the University of Central Florida at coding bootcamp in 2019. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Carolyn Ducker</h2>
      <br />
      <p>
        Carolyn Ducker is a web developer and a graduate of the University of Central Florida's coding bootcamp. She completed her AA at Valencia College. 
      </p>
    </div>
  </div>
 <br class="clear" />
<br />
<br />
<br />
<br />
</div>